<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=7">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>Document</title>
  <script type="text/javascript" src="../../../web/node_modules/vue/dist/vue.js"></script>
  <style type="text/css">

  </style>
</head>
<body>
	<div id="app">
		<input type="text" v-model="val" @keyup.enter="da">
		<input type="text" v-model="vas" @input="ta">
		<p>{{val}}</p>
		<span>space:</span>
		<p style="white-space: pre-line;">
			{{te}}
		</p>
		<textarea v-model="te" placeholder="please in you put"></textarea>
		<input type="checkbox" v-model="checked">
		<span>{{checked}}</span>
		<div>
			<input type="checkbox" name="wang" value ="wang" id="wang" v-model="my">
			<label for="wang">wang</label>
			<input type="checkbox" name="tony" id="tony" value="tony" v-model="my">
			<label for="tony">tony</label>
			<input type="checkbox" name="linda" id="linda" value="linda" v-model="my">
			<label for="linda">linda</label>
		</div>
		<p>{{my}}</p>
		<div>
			<input type="radio"  id="one" value="one" v-model="pick">
			<label for="one">one</label>
			<input type="radio" name="" id="two" value="two" v-model=pick>
			<label for="two"> two</label>
		</div>
		<span>{{pick}}</span>
		<div>
			<select v-model="selected">
				<option value="" disabled>请选择</option>
				<option>AA</option>
				<option>BB</option>
				
			</select>
			<select multiple v-model="ss">
				<option>AA</option>
				<option>BB</option>
				<option >CC</option>
			</select>
		</div>
		<p>{{selected}}</p>
		<p>{{ss}}</p>
	</div>
	<script type="text/javascript">
		var vm=new Vue({
			el:"#app",
			data:{
				val:"",
				vas:"",
				te:"",
				checked:false,
				my:[],
				pick:"",
				selected:"",
				ss:[]


			},
			methods:{
				da(){
					console.log(this.val);

				},
				ta(){
					console.log(this.ta);
				}
			}
		})
	</script>

	
</body>
</html>